Repository helpfuldolphin/mathledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: ascii-check, drift-sentinel

.pre-commit-config.yaml:

# MathLedger Pre-Commit Configuration
#
# Enforces code hygiene and formatting standards:
# - Code formatters: black, isort (run on all Python files)
# - ASCII hygiene: only on docs/ and scripts/ changes
# - Whitespace: trailing-whitespace, end-of-file-fixer

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=2048']

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: local
    hooks:
      - id: ascii-check
        name: ASCII-only validation (docs/scripts only)
        entry: python tools/check_ascii.py
        language: system
        files: ^(docs/|scripts/).*$
        pass_filenames: false
      
      - id: drift-sentinel
        name: Drift Sentinel - Detect nondeterministic operations
        entry: python tools/repro/drift_sentinel.py --staged
        language: system
        types: [python]
        pass_filenames: false
        args: ['--whitelist', 'artifacts/repro/drift_whitelist.json']

fix(tda): track TDA, ht, synthetic, rfl modules and CAL-EXP-1 harness for reproducibility
  CRITICAL_FILES_MANIFEST.md
  backend/ht/__init__.py
  backend/ht/tda_monitor.py
  backend/ht/test_data/phase1_mismatched_ht_series.json
  backend/ht/test_data/phase1_missing_rt_series.json
  backend/ht/test_data/phase1_valid_series.json
  backend/synthetic/__init__.py
  backend/synthetic/pathology_injection.py
  backend/tda/console_tile.py
  backend/tda/evidence.py
  backend/tda/metrics.py
  backend/tda/monitor.py
  backend/tda/pattern_classifier.py
  backend/tda/patterns_from_windows.py
  backend/tda/test_compute_tda_metrics.py
  docs/system_law/calibration/CAL_EXP_1_EXPERIMENT_DESIGN.md
  results/cal_exp_1/cal_exp_1_harness.py
  rfl/prng/calibration_integration.py
  rfl/prng/governance.py
  rfl/verification/EPISTEMIC_DRIFT_INTEGRATION_GUIDE.md
  rfl/verification/__init__.py
  rfl/verification/abstention_semantics.py
  rfl/verification/epistemic_drift_integration.py
  rfl/verification/governance_tile.py
Due: ascii-check, drift-sentinel

docs(audit): add CAL-EXP-1 replication attestation and report
  docs/system_law/calibration/audits/CAL_EXP_1_REPLICATION_ATTESTATION.json
  docs/system_law/calibration/audits/CAL_EXP_1_REPLICATION_REPORT.md
Due: ascii-check

docs(cal-exp-2): add freeze attestation for P4 divergence experiment
  docs/system_law/calibration/CAL_EXP_2_FREEZE_ATTESTATION.md
Due: ascii-check

docs(audit): CAL-EXP-2 freeze integrity report
  docs/system_law/calibration/audits/CAL_EXP_2_FREEZE_INTEGRITY_REPORT.md
Due: ascii-check

feat: Add .bashrc BOM fix script and TDA red-flag storm guard tests
  scripts/fix_bashrc_encoding.ps1
  tests/health/test_tda_windowed_patterns_adapter.py
Due: ascii-check, drift-sentinel

docs(cal-exp-2): Add cross-shell preflight section to GO/NO-GO checklist
  docs/system_law/calibration/CAL_EXP_2_GO_NO_GO.md
Due: ascii-check

docs(calibration): add CAL-EXP-2 binding definitions and validity attestation
  docs/system_law/calibration/CAL_EXP_2_DEFINITIONS_BINDING.md
  docs/system_law/calibration/CAL_EXP_2_VALIDITY_ATTESTATION.md
  scripts/first_light_cal_exp2_convergence.py
Due: ascii-check, drift-sentinel

fix(hygiene): CAL-EXP-2 reproducibility lock
  .github/workflows/cal_exp_hygiene_gate.yml
  CAL_EXP_2_HYGIENE_PREFLIGHT.md
  CRITICAL_FILES_MANIFEST.md
Due: none

feat: Add automatic BOM detection preflight to CAL-EXP-2 verifier
  .github/workflows/cal_exp_hygiene_gate.yml
  CRITICAL_FILES_MANIFEST.md
  scripts/preflight_shell_env.py
  scripts/verify_cal_exp_2_run.py
  tests/ci/test_cal_exp2_reproducibility.py
  tests/scripts/test_preflight_shell_env.py
Due: ascii-check, drift-sentinel

docs(contract): Track RUN_SHADOW_AUDIT v0.1 canonical contract and CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/cal_exp_hygiene_gate.yml
  CRITICAL_FILES_MANIFEST.md
  docs/system_law/calibration/RUN_SHADOW_AUDIT_METRICS_V0_1.md
  docs/system_law/calibration/RUN_SHADOW_AUDIT_SCOPE_GUARDRAILS.md
  docs/system_law/calibration/RUN_SHADOW_AUDIT_V0_1_1_ADDENDUM.md
  docs/system_law/calibration/RUN_SHADOW_AUDIT_V0_1_CONTRACT.md
  docs/system_law/calibration/RUN_SHADOW_AUDIT_V0_1_SPEC.md
  docs/system_law/calibration/SHADOW_AUDIT_CONTRACT_RECONCILIATION.md
  tests/ci/test_cal_exp2_reproducibility.py
Due: ascii-check, drift-sentinel

fix(language): Establish single source of truth for forbidden phrases
  .github/workflows/cal_exp_hygiene_gate.yml
  backend/governance/language_constraints.py
  backend/topology/first_light/budget_binding.py
  docs/system_law/calibration/CAL_EXP_2_Canonical_Record.md
  docs/system_law/calibration/CAL_EXP_2_EXIT_DECISION.md
  docs/system_law/calibration/CAL_EXP_2_LANGUAGE_CONSTRAINTS.md
  results/cal_exp_2/CAL_EXP_2_Scientist_Report.md
  tests/policy/__init__.py
  tests/policy/test_cal_exp_2_language_lint.py
  tests/topology/test_budget_binding_language.py
Due: ascii-check, drift-sentinel

test: Add advisory-only guarantee tests for preflight
  tests/scripts/test_preflight_shell_env.py
Due: drift-sentinel

docs: Create PILOT_INDEX.md canonical index
  docs/system_law/pilot/PILOT_INDEX.md
Due: ascii-check

feat(ci): add pilot phase gate with strict path isolation
  .github/workflows/pilot-phase-gate.yml
  docs/system_law/PILOT_CI_ISOLATION.md
Due: ascii-check

docs(cal_exp_3): harden implementation plan (windows, determinism, isolation audit)
  docs/system_law/calibration/CAL_EXP_3_IMPLEMENTATION_PLAN.md
Due: ascii-check

feat: Harden CAL-EXP-3 verifier with plan-aligned checks
  .github/workflows/cal-exp-3-verification.yml
  scripts/verify_cal_exp_3_run.py
  tests/ci/test_verify_cal_exp_3_run.py
Due: ascii-check, drift-sentinel

docs: Align CAL-EXP-3 verifier with artifact contract
  scripts/verify_cal_exp_3_run.py
  tests/ci/test_verify_cal_exp_3_run.py
Due: ascii-check, drift-sentinel

docs(audit): add CAL-EXP-3 early runs non-canonical record
  docs/system_law/calibration/audits/CAL_EXP_3_EARLY_RUNS_NONCANONICAL.md
Due: ascii-check

docs(cal_exp_3): add post-execution reconciliation note
  docs/system_law/calibration/CAL_EXP_3_UPLIFT_SPEC.md
Due: ascii-check

docs(pilot): Add external ingest surface section to PILOT_INDEX
  docs/system_law/pilot/PILOT_INDEX.md
Due: ascii-check

docs(pilot): Add PILOT_CONTRACT_POSTURE.md binding note
  docs/system_law/pilot/PILOT_CONTRACT_POSTURE.md
Due: ascii-check

docs(cal_exp_3): add canonical filename resolution (§4.4)
  docs/system_law/calibration/CAL_EXP_3_IMPLEMENTATION_PLAN.md
Due: ascii-check

docs(audit): Add seed=44 run to CAL-EXP-3 non-canonical record
  docs/system_law/calibration/audits/CAL_EXP_3_EARLY_RUNS_NONCANONICAL.md
Due: ascii-check

docs(audit): Add execution closure note to CAL-EXP-3
  docs/system_law/calibration/audits/CAL_EXP_3_EARLY_RUNS_NONCANONICAL.md
Due: ascii-check

docs(cal_exp_3): add ratification brief for L5 canonization
  docs/system_law/calibration/CAL_EXP_3_RATIFICATION_BRIEF.md
Due: ascii-check

docs(cal_exp_3): promote to CANONICAL (v1.0) — STRATCOM APPROVED
  docs/system_law/calibration/CAL_EXP_3_IMPLEMENTATION_PLAN.md
  docs/system_law/calibration/CAL_EXP_3_INDEX.md
  docs/system_law/calibration/CAL_EXP_3_RATIFICATION_BRIEF.md
  docs/system_law/calibration/CAL_EXP_3_UPLIFT_SPEC.md
Due: ascii-check

docs(internal): archive CAL-EXP-4 private design note (Phase II)
  docs/internal/phase2/DESIGN_CAL_EXP_4_PRIVATE.md
Due: ascii-check

feat(pilot): Add pilot external ingest adapter (SHADOW MODE)
  backend/health/pilot_external_ingest_adapter.py
  docs/system_law/calibration/Pilot_External_Ingest_SHADOW_MODE.md
  tests/health/test_pilot_external_ingest_non_interference.py
Due: ascii-check, drift-sentinel

test(cal-exp-3): Add contract tripwire tests for canonical filename
  tests/ci/test_verify_cal_exp_3_run.py
Due: drift-sentinel

feat(cal-exp-3): Add language lint enforcement with claim ladder L0-L5
  .gitignore
  backend/governance/language_constraints.py
  docs/system_law/calibration/CAL_EXP_3_LANGUAGE_CONSTRAINTS.md
  scripts/run_cal_exp_3.py
  scripts/run_cal_exp_3_canonical.py
  tests/policy/test_cal_exp_3_language_lint.py
Due: ascii-check, drift-sentinel

docs(pilot): Add Single-Path Smoke Proof link to PILOT_INDEX
  docs/system_law/pilot/PILOT_INDEX.md
Due: ascii-check

docs(pilot): add safe extension guidance for pilot CI paths
  docs/system_law/PILOT_CI_ISOLATION.md
Due: ascii-check

docs(pilot): Add single-path smoke proof for external ingest
  docs/system_law/pilot/PILOT_SMOKE_PROOF_SINGLE_PATH.md
Due: ascii-check

docs(cal_exp_4): add variance stress spec and implementation plan
  docs/system_law/calibration/CAL_EXP_4_IMPLEMENTATION_PLAN.md
  docs/system_law/calibration/CAL_EXP_4_VARIANCE_STRESS_SPEC.md
Due: ascii-check

docs(cal-exp-4): Add verifier delta plan (pre-spec)
  docs/system_law/calibration/CAL_EXP_4_VERIFIER_PLAN.md
Due: ascii-check

docs(cal-exp-4): finalize binding thresholds and fail-close semantics
  docs/system_law/calibration/CAL_EXP_4_VARIANCE_STRESS_SPEC.md
Due: ascii-check

feat(cal-exp-4): Add JSON schemas and update verifier plan
  docs/system_law/calibration/CAL_EXP_4_VERIFIER_PLAN.md
  schemas/cal_exp_4/temporal_structure_audit.schema.json
  schemas/cal_exp_4/variance_profile_audit.schema.json
Due: ascii-check

docs(pilot): Add PILOT_NON_INTERFERENCE_ATTESTATION.md
  docs/system_law/pilot/PILOT_NON_INTERFERENCE_ATTESTATION.md
Due: ascii-check

feat(cal-exp-4): Implement verifier and tests per binding spec
  scripts/verify_cal_exp_4_run.py
  tests/calibration/__init__.py
  tests/calibration/test_cal_exp_4_drift_guard.py
  tests/calibration/test_verify_cal_exp_4_run.py
Due: ascii-check, drift-sentinel

test(cal-exp-4): Add red team adversarial fixture
  tests/calibration/test_verify_cal_exp_4_run.py
  tests/fixtures/cal_exp_4_adversarial/ADVERSARIAL_FIXTURE_README.md
  tests/fixtures/cal_exp_4_adversarial/validity/temporal_structure_audit.json
  tests/fixtures/cal_exp_4_adversarial/validity/variance_profile_audit.json
Due: drift-sentinel
