Repository helpfuldolphin/mathledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: ascii-check, drift-sentinel

.pre-commit-config.yaml:

# MathLedger Pre-Commit Configuration
#
# Enforces code hygiene and formatting standards:
# - Code formatters: black, isort (run on all Python files)
# - ASCII hygiene: only on docs/ and scripts/ changes
# - Whitespace: trailing-whitespace, end-of-file-fixer

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=2048']

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: local
    hooks:
      - id: ascii-check
        name: ASCII-only validation (docs/scripts only)
        entry: python tools/check_ascii.py
        language: system
        files: ^(docs/|scripts/).*$
        pass_filenames: false
      
      - id: drift-sentinel
        name: Drift Sentinel - Detect nondeterministic operations
        entry: python tools/repro/drift_sentinel.py --staged
        language: system
        types: [python]
        pass_filenames: false
        args: ['--whitelist', 'artifacts/repro/drift_whitelist.json']

docs(releases): update v0.2.4 metadata for Merkle parity release
  releases/releases.json
Due: none

fix(test): update golden alignment test to use v0.2.4 examples
  tests/governance/test_verifier_golden_alignment.py
Due: drift-sentinel

docs(releases): update v0.2.4 commit hash after golden test fix
  releases/releases.json
Due: none

chore: update releases.json with v0.2.5 commit hash
  releases/releases.json
Due: none

fix(verifier): v0.2.5 self-test semantics - FAIL/FAIL -> test PASSES
  releases/releases.json
  site/v0.2.5/evidence-pack/verify/index.html
  site/versions/status.json
  tests/governance/test_self_test_semantics.py
Due: drift-sentinel

chore: update v0.2.5 commit hash in metadata
  releases/releases.json
  site/versions/status.json
Due: none

feat(build): add self-test semantics build assertion (#31)
  releases/releases.json
  scripts/build_static_site.py
  site/v0.2.5/docs/explanation/index.html
  site/v0.2.5/docs/external_audits/manus_hostile_audit_v0.2.2_2026-01-03/index.html
  site/v0.2.5/docs/external_audits/manus_link_integrity_audit_2026-01-03/index.html
  site/v0.2.5/docs/external_audits/manus_site_audit_2026-01-03/index.html
  site/v0.2.5/docs/field-manual/index.html
  site/v0.2.5/docs/for-auditors/index.html
  site/v0.2.5/docs/hostile-rehearsal/index.html
  site/v0.2.5/docs/invariants/index.html
  site/v0.2.5/docs/scope-lock/index.html
  site/v0.2.5/evidence-pack/index.html
  site/v0.2.5/evidence-pack/verify/index.html
  site/v0.2.5/fixtures/adv_only/index.html
  site/v0.2.5/fixtures/index.html
  site/v0.2.5/fixtures/mixed_mv_adv/index.html
  site/v0.2.5/fixtures/mv_arithmetic_refuted/index.html
  site/v0.2.5/fixtures/mv_arithmetic_verified/index.html
  site/v0.2.5/fixtures/mv_only/index.html
  site/v0.2.5/fixtures/pa_only/index.html
  site/v0.2.5/fixtures/same_claim_as_adv/index.html
  site/v0.2.5/fixtures/same_claim_as_pa/index.html
  site/v0.2.5/fixtures/underdetermined_navier_stokes/index.html
  site/v0.2.5/index.html
  site/v0.2.5/manifest.json
Due: ascii-check, drift-sentinel

chore: update releases.json with v0.2.5-self-test-clarity commit hash
  releases/releases.json
Due: none

feat(verifier): v0.2.6 cryptographic parity - JS byte-for-byte identical to Python
  releases/releases.json
  site/v0.2.6/docs/explanation/index.html
  site/v0.2.6/docs/external_audits/manus_hostile_audit_v0.2.2_2026-01-03/index.html
  site/v0.2.6/docs/external_audits/manus_link_integrity_audit_2026-01-03/index.html
  site/v0.2.6/docs/external_audits/manus_site_audit_2026-01-03/index.html
  site/v0.2.6/docs/field-manual/index.html
  site/v0.2.6/docs/for-auditors/index.html
  site/v0.2.6/docs/hostile-rehearsal/index.html
  site/v0.2.6/docs/invariants/index.html
  site/v0.2.6/docs/scope-lock/index.html
  site/v0.2.6/evidence-pack/examples.json
  site/v0.2.6/evidence-pack/index.html
  site/v0.2.6/evidence-pack/verify/index.html
  site/v0.2.6/fixtures/adv_only/index.html
  site/v0.2.6/fixtures/index.html
  site/v0.2.6/fixtures/mixed_mv_adv/index.html
  site/v0.2.6/fixtures/mv_arithmetic_refuted/index.html
  site/v0.2.6/fixtures/mv_arithmetic_verified/index.html
  site/v0.2.6/fixtures/mv_only/index.html
  site/v0.2.6/fixtures/pa_only/index.html
  site/v0.2.6/fixtures/same_claim_as_adv/index.html
  site/v0.2.6/fixtures/same_claim_as_pa/index.html
  site/v0.2.6/fixtures/underdetermined_navier_stokes/index.html
  site/v0.2.6/index.html
  site/v0.2.6/manifest.json
Due: none

chore: update v0.2.6 commit hash in metadata
  releases/releases.json
  scripts/generate_v026_verifier.py
  site/v0.2.6/evidence-pack/verify/index.html
Due: ascii-check, drift-sentinel

fix(verifier): regenerate v0.2.6 verifier with crypto parity implementation
  releases/releases.json
  site/v0.2.6/evidence-pack/verify/index.html
Due: none

chore(debug): add U_t stage-wise trace scripts for parity debugging
  scripts/trace_ut_computation.mjs
  scripts/trace_ut_computation.py
Due: ascii-check, drift-sentinel

feat(verifier): v0.2.7 with correct domain-separated Merkle trees
  releases/releases.json
  scripts/generate_v027_verifier.py
  site/v0.2.7/evidence-pack/examples.json
  site/v0.2.7/evidence-pack/verify/index.html
  site/versions/status.json
  tools/verify_verifier_freshness.py
Due: ascii-check, drift-sentinel

chore: update v0.2.7 commit hash in metadata
  releases/releases.json
  site/v0.2.7/evidence-pack/verify/index.html
  site/versions/status.json
Due: none

feat(build): frozen version system for immutable-by-construction site builds
  docs/FROZEN_VERSION_IMMUTABILITY.md
  releases/frozen/v0.2.0.json
  releases/frozen/v0.2.1.json
  releases/frozen/v0.2.2.json
  releases/frozen/v0.2.3.json
  releases/frozen/v0.2.4.json
  releases/frozen/v0.2.5.json
  releases/frozen/v0.2.6.json
  releases/frozen/v0.2.7.json
  releases/frozen/v0.json
  scripts/build_static_site.py
  tests/governance/test_frozen_version_immutability.py
Due: ascii-check, drift-sentinel

deploy(site): update canonical version registry for v0.2.7 CURRENT
  site/_headers
  site/_redirects
  site/versions/index.html
Due: none

fix(docs): replace broken doc links with repository references
  site/v0.2.7/docs/invariants/index.html
  site/v0.2.7/docs/scope-lock/index.html
Due: none

feat(governance): v0.2.9-abstention-terminal - ABSTAINED is terminal
  docs/FOR_AUDITORS.md
  docs/HOW_THE_DEMO_EXPLAINS_ITSELF.md
  docs/V0_LOCK.md
  docs/invariants_status.md
  releases/releases.json
  tests/governance/test_abstention_terminality.py
Due: ascii-check, drift-sentinel

chore: update releases.json with v0.2.9 commit hash
  releases/releases.json
Due: none

fix(demo): v0.2.10 demo reliability - self-sufficient commit via draft_payload
  backend/api/uvil.py
  demo/app.py
  docs/V0.2.10_SMOKE_CHECKLIST.md
  releases/releases.json
  tests/demo/test_demo_reliability.py
Due: ascii-check, drift-sentinel

chore: update v0.2.10 commit hash in releases.json
  releases/releases.json
Due: none

docs(audit): clarify demo version independence from CURRENT
  docs/FOR_AUDITORS.md
  site/v0.2.12/docs/for-auditors/index.html
Due: ascii-check

docs(coherence): fix demo vs documentation version contradiction
  docs/FOR_AUDITORS.md
  scripts/build_static_site.py
  site/v0.2.12/docs/explanation/index.html
  site/v0.2.12/docs/external_audits/manus_hostile_audit_v0.2.2_2026-01-03/index.html
  site/v0.2.12/docs/external_audits/manus_link_integrity_audit_2026-01-03/index.html
  site/v0.2.12/docs/external_audits/manus_site_audit_2026-01-03/index.html
  site/v0.2.12/docs/field-manual/index.html
  site/v0.2.12/docs/for-auditors/index.html
  site/v0.2.12/docs/hostile-rehearsal/index.html
  site/v0.2.12/docs/invariants/index.html
  site/v0.2.12/docs/mv-coverage/index.html
  site/v0.2.12/docs/scope-lock/index.html
  site/v0.2.12/docs/v0210-smoke-checklist/index.html
  site/v0.2.12/docs/version-doctrine/index.html
  site/v0.2.12/evidence-pack/index.html
  site/v0.2.12/evidence-pack/verify/index.html
  site/v0.2.12/fixtures/adv_only/index.html
  site/v0.2.12/fixtures/index.html
  site/v0.2.12/fixtures/mixed_mv_adv/index.html
  site/v0.2.12/fixtures/mv_arithmetic_refuted/index.html
  site/v0.2.12/fixtures/mv_arithmetic_verified/index.html
  site/v0.2.12/fixtures/mv_only/index.html
  site/v0.2.12/fixtures/pa_only/index.html
  site/v0.2.12/fixtures/same_claim_as_adv/index.html
  site/v0.2.12/fixtures/same_claim_as_pa/index.html
  site/v0.2.12/fixtures/underdetermined_navier_stokes/index.html
  site/v0.2.12/index.html
  site/v0.2.12/manifest.json
Due: ascii-check, drift-sentinel

fix(v0.2.13): add missing evidence_pack_examples.v0.2.13.json
  releases/evidence_pack_examples.v0.2.13.json
Due: none

docs(audit): CLOSURE_MATRIX_v0.2.13 — OUTREACH-GO
  docs/external_audits/CLOSURE_MATRIX_v0.2.13.md
Due: ascii-check

docs(parking_lot): Ariadne governance record + evaluation contract checklist
  docs/parking_lot/ariadne_faithfulness_pressure.md
  docs/parking_lot/evaluation_contract_checklist.md
Due: ascii-check

docs(parking_lot): add Verification-Value Paradox pressure
  docs/parking_lot/FUTURE_PRESSURE_CANDIDATES.md
  docs/parking_lot/latent_phaseII_pressures.md
  docs/parking_lot/org_policy_alignment_pressure.md
  docs/parking_lot/verification_value_paradox_pressure.md
Due: ascii-check

docs(parking_lot): add skills-enabled agent benchmark pressure
  docs/parking_lot/FUTURE_PRESSURE_CANDIDATES.md
  docs/parking_lot/latent_phaseII_pressures.md
Due: ascii-check

docs(parking_lot): add OpenForesight forecasting pressure
  docs/parking_lot/FUTURE_PRESSURE_CANDIDATES.md
  docs/parking_lot/latent_phaseII_pressures.md
  docs/parking_lot/openforesight_forecasting_pressure.md
Due: ascii-check

docs(explanation): finalize two-lane architecture + ACE methodology
  README.md
  docs/HOW_THE_DEMO_EXPLAINS_ITSELF.md
  docs/README.md
Due: ascii-check

site(demo): surface governance explanation + ACE methodology (v0.2.13)
  demo/app.py
  site/v0.2.13/docs/explanation/index.html
Due: drift-sentinel

feat(demo): add visible deploy provenance stamp + fix hardcoded version
  demo/app.py
Due: drift-sentinel
