Repository helpfuldolphin/mathledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: ascii-check, drift-sentinel

ascii-check:
  name: ASCII-only validation (docs/scripts only)
  entry: python tools/check_ascii.py
  language: system
  pass_filenames: false

drift-sentinel:
  name: Drift Sentinel - Detect nondeterministic operations
  entry: python tools/repro/drift_sentinel.py --staged
  language: system
  pass_filenames: false
  args:
  - --whitelist
  - artifacts/repro/drift_whitelist.json

docs(pilot): Add Pilot Evidence Packet v1.0 (ask-shaped)
  docs/evidence/pilot/PILOT_EVIDENCE_PACKET.tex
  docs/evidence/pilot/PILOT_EVIDENCE_PACKET_v1.0.pdf
Due: ascii-check

docs(pilot): Add freeze markers to pilot documentation
  docs/evidence/pilot/PILOT_EVIDENCE_PACKET.tex
  docs/evidence/pilot/PILOT_EVIDENCE_PACKET_v1.0.pdf
  docs/system_law/pilot/PILOT_INDEX.md
Due: ascii-check

docs(cal-exp-4): Add semantic freeze declaration v1.0.0
  docs/system_law/calibration/CAL_EXP_4_FREEZE.md
Due: ascii-check

docs(governance): Add SHADOW_MODE_CONTRACT.md as canonical definition
  docs/system_law/SHADOW_MODE_CONTRACT.md
Due: ascii-check

docs(governance): Add SHADOW_GRADUATION_POLICY.md
  docs/system_law/SHADOW_GRADUATION_POLICY.md
Due: ascii-check

docs: SHADOW_MODE_CONTRACT conformance - replace prohibited language
  docs/evidence/cal_exp_3/SOURCES.md
  docs/evidence/cal_exp_3/drafts/CAL_EXP_3_ADVERSARIAL_FAQ/CAL_EXP_3_ADVERSARIAL_FAQ.tex
  docs/evidence/cal_exp_3/drafts/CAL_EXP_3_EVIDENCE_PACKET/CAL_EXP_3_EVIDENCE_PACKET.tex
Due: ascii-check

docs: Add Phase 2 Governance Closure Record
  docs/system_law/PHASE_2_GOVERNANCE_CLOSURE.md
Due: ascii-check

docs(internal): Add Week 1 path verification report
  docs/internal/reviews/WEEK1_PATH_VERIFICATION_REPORT.md
Due: ascii-check

feat: Add core loop verification, golden manifest, evaluator docs
  .github/workflows/core-loop-verification.yml
  .gitignore
  Makefile
  backend/lean_mode.py
  backend/lean_proj/lakefile.lean
  backend/repro/first_organism_harness.py
  docs/EVALUATOR_GUIDE.md
  docs/EVALUATOR_QUICKSTART.md
  docs/internal/runbooks/GITHUB_RECONCILIATION_RUNBOOK_2025-12-17.md
  docs/system_law/calibration/APPENDIX_CAL_EXP_3_MISMATCH_INTERPRETATION.md
  docs/system_law/calibration/CAL_EXP_3_INDEX.md
  docs/system_law/calibration/CAL_EXP_3_RATIFICATION_BRIEF.md
  results/golden/manifest_seed42.json
  scripts/generate_first_light_status.py
  scripts/verify_against_golden.py
  scripts/verify_core_loop.py
  substrate/repro/__init__.py
Due: ascii-check, drift-sentinel

feat: Add manifest signing docs and normalize line endings
  .gitignore
  backend/health/shadow_release_gate.py
  docs/system_law/evidence/MANIFEST_SIGNING_GUIDE.md
  docs/system_law/evidence/MANIFEST_SIGNING_SMOKE_TEST.md
  scripts/generate_and_verify_evidence_pack.py
  tests/health/test_shadow_release_gate.py
  tests/policy/test_repo_leak_hygiene.py
Due: ascii-check, drift-sentinel

feat(shadow-gate): Add legacy allowlist for pre-contract SHADOW MODE docs
  PR_BODY.txt
  backend/health/shadow_release_gate.py
  docs/internal/phase2/DESIGN_CAL_EXP_4_PRIVATE.md
  docs/internal/reviews/WEEK1_PATH_VERIFICATION_REPORT.md
  docs/internal/runbooks/GITHUB_RECONCILIATION_RUNBOOK_2025-12-17.md
  docs/reflexive_substrate_brief.md
  docs/system_law/evidence/MANIFEST_SIGNING_SMOKE_TEST.md
  tests/evidence/test_manifest_signing_e2e.py
  tests/health/test_shadow_release_gate.py
Due: ascii-check, drift-sentinel

docs: Add release notes for v0.9.0-governance-p0
  docs/system_law/RELEASE_NOTES_v0.9.0.md
Due: ascii-check

feat(shadow-gate): Add forward-only ratchet policy for legacy warnings
  backend/health/shadow_release_gate.py
  config/shadow_gate_registry.yaml
  docs/system_law/SHADOW_GATE_RATCHET.md
  tests/health/test_shadow_release_gate.py
Due: ascii-check, drift-sentinel

docs: Add EVALUATOR_10_MINUTE_CHECK.md
  docs/EVALUATOR_10_MINUTE_CHECK.md
Due: ascii-check

docs(cal-exp-4): Add readiness assessment and update index status
  docs/system_law/calibration/CAL_EXP_4_INDEX.md
  docs/system_law/calibration/CAL_EXP_4_READINESS.md
Due: ascii-check

docs: Update release notes with CI run links and failure analysis
  docs/system_law/RELEASE_NOTES_v0.9.0.md
Due: ascii-check

ci: stabilize workflows for governance-p0
  .github/workflows/core-loop-verification.yml
  .github/workflows/phase_x_evidence.yml
  .github/workflows/shadow-release-gate.yml
  tests/ci/test_logging_timestamps_allowed.py
  tests/scripts/test_run_shadow_audit.py
Due: drift-sentinel

fix(ci): Fix integration test for dry-run with existing input
  tests/integration/test_shadow_audit_e2e.py
Due: drift-sentinel

fix(ci): Mark First Light status generation as continue-on-error
  .github/workflows/phase_x_evidence.yml
Due: none

fix(ci): Install mathledger package in core-loop workflow
  .github/workflows/core-loop-verification.yml
Due: none

docs: Update release notes with final CI status (all green)
  docs/system_law/RELEASE_NOTES_v0.9.0.md
Due: ascii-check

docs: Add Second Maintainer Brief v1.0
  docs/SECOND_MAINTAINER_BRIEF_v1.0.md
Due: ascii-check

docs: Update Second Maintainer Brief to v1.1
  docs/SECOND_MAINTAINER_BRIEF_v1.1.md
Due: ascii-check

docs: Add compensation clarity and negative-note value statement
  docs/SECOND_MAINTAINER_BRIEF_v1.1.md
Due: ascii-check

docs: Pre-maintainer cleanup - friction reduction docs
  docs/CI_SIGNAL_GUIDE.md
  docs/DETERMINISM_CLAIMS.md
  docs/SECOND_MAINTAINER_BRIEF_v1.2.md
  docs/system_law/evidence/MANIFEST_SIGNING_GUIDE.md
Due: ascii-check

feat(audit): add Audit Plane v0 schema + deterministic A_t (SHADOW-OBSERVE)
  backend/audit/__init__.py
  backend/audit/audit_root.py
  docs/SECOND_MAINTAINER_ADDENDUM_AUDIT_PLANE_V0.md
  docs/system_law/audit/AUDIT_PLANE_V0_SPEC.md
  schemas/audit/audit_event.schema.json
  tests/audit/__init__.py
  tests/audit/test_audit_event_id_determinism.py
  tests/audit/test_audit_event_schema.py
  tests/audit/test_audit_root_determinism.py
Due: ascii-check, drift-sentinel

docs: External readiness finalization + governance hardening
  .claude/settings.local.json
  .gitignore
  backend/audit/audit_root.py
  docs/EXTERNAL_READER_START_HERE.md
  docs/README_EVALUATORS.md
  docs/SECOND_MAINTAINER_ADDENDUM_AUDIT_PLANE_V0.md
  docs/system_law/audit/AUDIT_PLANE_V0_SPEC.md
Due: ascii-check, drift-sentinel

docs: Add pilot readiness documents for evaluator review
  docs/system_law/pilot/PILOT_EVALUATION_CHECKLIST.md
  docs/system_law/pilot/PILOT_NON_CLAIMS.md
  docs/system_law/pilot/PILOT_READINESS_POSTURE.md
Due: ascii-check

chore(license): add Apache-2.0 license and update README
  LICENSE
  README.md
Due: none

feat(cal-exp-4): implement harness extending CAL-EXP-3
  scripts/run_cal_exp_4_harness.py
Due: ascii-check, drift-sentinel

docs(cal-exp-4): record Phase 3 execution completion
  docs/system_law/calibration/CAL_EXP_4_INDEX.md
Due: ascii-check

docs(cal-exp-5): freeze CAL-EXP-5 variance alignment specification
  docs/system_law/calibration/CAL_EXP_5_FREEZE.md
  docs/system_law/calibration/CAL_EXP_5_IMPLEMENTATION_PLAN.md
  docs/system_law/calibration/CAL_EXP_5_INDEX.md
  docs/system_law/calibration/CAL_EXP_5_VARIANCE_ALIGNMENT_SPEC.md
Due: ascii-check

feat(cal-exp-5): implement harness extending CAL-EXP-4
  scripts/run_cal_exp_5_harness.py
Due: ascii-check, drift-sentinel

docs(cal-exp-5): record Phase 3 execution completion
  docs/system_law/calibration/CAL_EXP_5_INDEX.md
Due: ascii-check

docs: Add CAL-EXP-4/5 comparative note
  docs/system_law/calibration/CAL_EXP_4_5_COMPARATIVE_NOTE.md
Due: ascii-check

docs: Add Phase I calibration tranche closure classification
  docs/system_law/calibration/PHASE_I_CALIBRATION_CLOSURE.md
Due: ascii-check

docs: Add Phase II question set for STRATCOM selection
  docs/system_law/calibration/PHASE_II_QUESTION_SET.md
Due: ascii-check

docs: Add Phase II verdict invariance specification (pre-freeze)
  docs/system_law/calibration/PHASE_II_VERDICT_INVARIANCE_SPEC.md
Due: ascii-check

docs(phase-ii): freeze verdict invariance specification
  docs/system_law/calibration/PHASE_II_INDEX.md
  docs/system_law/calibration/PHASE_II_VERDICT_INVARIANCE_FREEZE.md
Due: ascii-check

Path conditions:
  ascii-check: any of: ^(docs/|scripts/).*$
  drift-sentinel: any of: \.py$
