Repository helpfuldolphin/mathledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: ascii-check, drift-sentinel

.pre-commit-config.yaml:

# MathLedger Pre-Commit Configuration
#
# Enforces code hygiene and formatting standards:
# - Code formatters: black, isort (run on all Python files)
# - ASCII hygiene: only on docs/ and scripts/ changes
# - Whitespace: trailing-whitespace, end-of-file-fixer

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=2048']

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: local
    hooks:
      - id: ascii-check
        name: ASCII-only validation (docs/scripts only)
        entry: python tools/check_ascii.py
        language: system
        files: ^(docs/|scripts/).*$
        pass_filenames: false
      
      - id: drift-sentinel
        name: Drift Sentinel - Detect nondeterministic operations
        entry: python tools/repro/drift_sentinel.py --staged
        language: system
        types: [python]
        pass_filenames: false
        args: ['--whitelist', 'artifacts/repro/drift_whitelist.json']

docs: Freeze manuscript for arXiv submission
  paper/SUBMISSION_READINESS_CHECKLIST.md
  paper/data/variables.tex
  paper/macros.tex
  paper/main.tex
  paper/sections/03_results.tex
Due: none

docs: Add arXiv submission freeze record
  docs/system_law/calibration/ARXIV_SUBMISSION_FREEZE.md
Due: ascii-check

docs(arxiv): Replace placeholder figures with real CAL-EXP-3 evidence
  docs/PAPERS/arxiv/figures/generated/cal_exp_3_delta_p.png
  docs/PAPERS/arxiv/figures/generated/cal_exp_3_success.png
  docs/PAPERS/arxiv/sections/02_methodology.tex
  docs/PAPERS/arxiv/sections/03_results.tex
Due: ascii-check

docs(arxiv): Synthesize main.tex into front-facing systems paper
  docs/PAPERS/arxiv/data/variables.tex
  docs/PAPERS/arxiv/macros.tex
  docs/PAPERS/arxiv/main.tex
  docs/PAPERS/arxiv/references.bib
  docs/PAPERS/arxiv/sections/03_results.tex
Due: ascii-check

feat(phase-ii): Complete Phase II governance stability testing
  .claude/settings.local.json
  backend/logic/taut.py
  curriculum/gates.py
  docs/system_law/calibration/PHASE_II_GOVERNANCE_STABILITY_MEMO.md
  experiments/slice_success_metrics.py
  experiments/u2/__init__.py
  experiments/u2/policy.py
  rfl/runner.py
  scripts/run_phase_ii_verdict_invariance.py
  tests/integration/conftest.py
  tools/build_celestial_dossier.py
  verify_dual_root.py
Due: ascii-check, drift-sentinel

docs(phase-ii): Add diligence one-pager and talking points
  docs/system_law/calibration/PHASE_II_DILIGENCE_ONEPAGER.md
  docs/system_law/calibration/PHASE_II_TALKING_POINTS.md
Due: ascii-check

docs(phase-ii): Apply diligence doc refinements
  docs/system_law/calibration/PHASE_II_DILIGENCE_ONEPAGER.md
  docs/system_law/calibration/PHASE_II_TALKING_POINTS.md
Due: ascii-check

feat(demo): Add drop-in governance demo for acquisition diligence
  demo_output/epoch_root.txt
  demo_output/events/reasoning_events.jsonl
  demo_output/events/ui_events.jsonl
  demo_output/manifest.json
  demo_output/reasoning_root.txt
  demo_output/ui_root.txt
  demo_output/verify.py
  docs/DROPIN_REPLAY_INSTRUCTIONS.md
  scripts/run_dropin_demo.py
Due: ascii-check, drift-sentinel

docs: Add acquisition packaging artifacts
  docs/DRAFT_FOLLOWUP_EMAIL.md
  docs/DROPIN_DEMO_FREEZE.md
  docs/INTERNAL_CHAMPION_BRIEF.md
Due: ascii-check

docs: Apply surgical refinements to packaging artifacts
  docs/DRAFT_FOLLOWUP_EMAIL.md
  docs/DROPIN_DEMO_FREEZE.md
Due: ascii-check

chore: Remove garbage filenames from index
  tapi import FastAPI, HTTPException
  tatus
Due: none

chore: Remove remaining unicode garbage file from index
   grep postgres
Due: none

fix: Remove draft email, add evidence stub for arXiv consistency
  README.md
  docs/DRAFT_FOLLOWUP_EMAIL.md
  docs/evidence/cal_exp_3/README.md
Due: ascii-check

docs: Add arXiv preprint PDF to docs/papers/
  docs/papers/README.md
  docs/papers/mathledger_arxiv_preprint.pdf
Due: ascii-check

docs: Add formal properties section to arXiv paper
  .gitattributes
  docs/papers/arxiv/cal_exp_3_delta_p.png
  docs/papers/arxiv/data/variables.tex
  docs/papers/arxiv/figures/generated/cal_exp_3_delta_p.png
  docs/papers/arxiv/figures/generated/cal_exp_3_success.png
  docs/papers/arxiv/macros.tex
  docs/papers/arxiv/main.aux
  docs/papers/arxiv/main.bbl
  docs/papers/arxiv/main.blg
  docs/papers/arxiv/main.out
  docs/papers/arxiv/main.pdf
  docs/papers/arxiv/main.tex
  docs/papers/arxiv/references.bib
  docs/papers/arxiv/sections/02_methodology.tex
  docs/papers/arxiv/sections/03_results.tex
Due: ascii-check

docs: Add companion-exclusion note to appendix
  docs/papers/mathledger_arxiv_preprint.pdf
Due: ascii-check

docs: Fix Phase I scoping issues in arXiv paper
  docs/papers/mathledger_arxiv_preprint.pdf
Due: ascii-check

docs: Fix remaining Phase I consistency issues
  docs/papers/mathledger_arxiv_preprint.pdf
Due: ascii-check

docs: Final Phase I consistency fixes for arXiv
  docs/papers/mathledger_arxiv_preprint.pdf
Due: ascii-check

docs: Fix abstention metric and evidence pack language
  docs/papers/mathledger_arxiv_preprint.pdf
Due: ascii-check

docs: Final arXiv polish - fix structure and remove placeholders
  docs/papers/mathledger_arxiv_preprint.pdf
Due: ascii-check

docs: Update arXiv preprint PDF with final Phase I edits
  docs/papers/mathledger_arxiv_preprint.pdf
Due: ascii-check

fix: Demo exits 0 on success, cleaner toolchain message
  scripts/run_dropin_demo.py
Due: ascii-check, drift-sentinel

docs: update arXiv preprint PDF (v1.0 submission-ready)
  docs/papers/mathledger_arxiv_preprint.pdf
Due: ascii-check

docs(pilot): finalize external audit surface for v0.9.3-pilot-audit-ready
  docs/pilot/AUDIT_WALKTHROUGH.md
  docs/pilot/PILOT_EVALUATION_CHECKLIST.md
  docs/pilot/PILOT_NON_CLAIMS.md
  docs/system_law/pilot/PILOT_INTAKE_CHECKLIST.md
Due: ascii-check

docs: add Independent Audit section to README, fix exit code docs
  README.md
  docs/DROPIN_REPLAY_INSTRUCTIONS.md
Due: ascii-check

feat: External auditor hardening pass (v0.9.4-pilot-audit-hardened)
  docs/pilot/AUDIT_WALKTHROUGH.md
  docs/pilot/PILOT_EVALUATION_CHECKLIST.md
  governance/__init__.py
  governance/commitment_registry.json
  governance/registry_hash.py
  scripts/run_dropin_demo.py
  tests/governance/__init__.py
  tests/governance/test_verify_fail_closed.py
Due: ascii-check, drift-sentinel

docs(arxiv): Align paper with v0.9.4-pilot-audit-hardened audit surface
  docs/papers/arxiv/main.tex
Due: ascii-check

docs(arxiv): Update paper with polished v0.9.4 audit surface alignment
  docs/papers/arxiv/data/variables.tex
  docs/papers/arxiv/macros.tex
  docs/papers/arxiv/main.aux
  docs/papers/arxiv/main.out
  docs/papers/arxiv/main.pdf
  docs/papers/arxiv/main.tex
  docs/papers/arxiv/references.bib
  docs/papers/arxiv/sections/02_methodology.tex
  docs/papers/arxiv/sections/03_results.tex
  docs/papers/mathledger_arxiv_preprint.pdf
Due: ascii-check

feat: PL Uplift Experiment - policy adaptation measurement harness
  normalization/taut.py
  normalization/truthtab.py
  scripts/run_pl_uplift_exp.py
  tests/experiments/__init__.py
  tests/experiments/test_pl_uplift.py
  tests/normalization/__init__.py
  tests/normalization/test_taut.py
Due: ascii-check, drift-sentinel

feat(pl-uplift): Audit-surface consistent v0.2.0 with A/B paired runs
  normalization/__init__.py
  normalization/truthtab.py
  scripts/run_pl_uplift_exp.py
  substrate/logic/__init__.py
  tests/experiments/test_pl_uplift.py
Due: ascii-check, drift-sentinel

test(fol): add domain tag registration tests (RED)
  tests/substrate/__init__.py
  tests/substrate/test_hashing.py
Due: drift-sentinel

feat(crypto): register DOMAIN_FOL_AST and DOMAIN_FOL_CERT
  substrate/crypto/hashing.py
Due: drift-sentinel

test(fol): add FOL_FIN_EQ_v1 fixtures (18)
  tests/fixtures/fol/associativity_formula.json
  tests/fixtures/fol/d20_domain.json
  tests/fixtures/fol/exists_eq_two_formula.json
  tests/fixtures/fol/forall_always_true_formula.json
  tests/fixtures/fol/four_var_formula.json
  tests/fixtures/fol/free_var_formula.json
  tests/fixtures/fol/idempotent_domain.json
  tests/fixtures/fol/identity_formula.json
  tests/fixtures/fol/inverse_formula.json
  tests/fixtures/fol/large_100.json
  tests/fixtures/fol/multiple_witness_formula.json
  tests/fixtures/fol/neq_zero_formula.json
  tests/fixtures/fol/variable_order_domain.json
  tests/fixtures/fol/variable_order_witness_formula_xy.json
  tests/fixtures/fol/variable_order_witness_formula_yx.json
  tests/fixtures/fol/z2_broken.json
  tests/fixtures/fol/z2_domain.json
  tests/fixtures/fol/z3_domain.json
Due: none

fix(tests): remove tests/governance/__init__.py to prevent shadowing
  tests/governance/__init__.py
Due: drift-sentinel

feat(fol): Phase 1 GREEN - domain_spec + fol_ast
  normalization/domain_spec.py
  normalization/fol_ast.py
  tests/normalization/test_domain_spec.py
  tests/normalization/test_fol_ast.py
Due: drift-sentinel

test(fol): Phase 2 RED - verifier/cert/schema/demo test stubs
  tests/governance/test_fol_fail_closed.py
  tests/governance/test_fol_schema_validator.py
  tests/normalization/test_fol_certificate.py
  tests/normalization/test_fol_fin_eq.py
  tests/scripts/__init__.py
  tests/scripts/test_fol_demo.py
Due: drift-sentinel

feat(fol): Phase 3 CLOSED - certificate, validator, demo, golden hash
  docs/FOL_FIN_EQ_PHASE3_CLOSURE.md
  docs/FOL_FIN_EQ_PHASE3_EVIDENCE.md
  governance/fol_schema_validator.py
  normalization/fol_certificate.py
  scripts/__init__.py
  scripts/run_fol_fin_eq_demo.py
  tests/normalization/test_fol_golden_hash.py
Due: ascii-check, drift-sentinel
