Repository helpfuldolphin/mathledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: ascii-check, drift-sentinel

ascii-check:
  name: ASCII-only validation (docs/scripts only)
  entry: python tools/check_ascii.py
  language: system
  pass_filenames: false

drift-sentinel:
  name: Drift Sentinel - Detect nondeterministic operations
  entry: python tools/repro/drift_sentinel.py --staged
  language: system
  pass_filenames: false
  args:
  - --whitelist
  - artifacts/repro/drift_whitelist.json

Enhance rfl-uplift-experiments agent documentation
  .github/agents/rfl-uplift-experiments.md
Due: none

Create curriculum-architect agent documentation
  .github/agents/curriculum-architect.md
Due: none

Add attestation-auditor agent documentation
  .github/agents/attestation-auditor.md
Due: none

Create rfl-policy-engineer agent documentation
  .github/agents/rfl-policy-engineer.md
Due: none

Create doc-weaver agent documentation
  .github/agents/doc-weaver.md
Due: none

Create documentation for sober-refactor agent
  .github/agents/sober-refactor.md
Due: none

Refactor agent metadata format in rfl-policy-engineer.md
  .github/agents/rfl-policy-engineer.md
Due: none

Simplify description in rfl-policy-engineer.md
  .github/agents/rfl-policy-engineer.md
Due: none

Refactor sober-refactor agent metadata format
  .github/agents/sober-refactor.md
Due: none

Revise doc-weaver agent documentation format
  .github/agents/doc-weaver.md
Due: none

Fix formatting in doc-weaver.md
  .github/agents/doc-weaver.md
Due: none

Format doc-weaver agent file for GitHub Copilot compatibility
  .github/agents/doc-weaver.md
Due: none

Fix doc-weaver YAML frontmatter to match working agent format
  .github/agents/doc-weaver.md
Due: none

Add leading --- delimiter to match attestation-auditor format exactly
  .github/agents/doc-weaver.md
Due: none

Fix YAML parsing error - simplify description to avoid colons
  .github/agents/doc-weaver.md
Due: none

feat: Port U2 uplift experiment architecture
  config/curriculum_uplift_phase2.yaml
  docs/U2_PORT_PLAN.md
  experiments/run_uplift_u2.py
  experiments/slice_success_metrics.py
Due: ascii-check, drift-sentinel

fix: Update upload-artifact action to v4 in evidence-gate.yml
  .github/workflows/evidence-gate.yml
Due: none

feat(phase2): Implement imperfect verifier noise model with deterministic noise injection
  backend/verification/DELIVERABLES.md
  backend/verification/IMPLEMENTATION_REPORT.md
  backend/verification/NOISE_MODEL_DESIGN.md
  backend/verification/U2_INTEGRATION_PATCH.md
  backend/verification/__init__.py
  backend/verification/config_loader.py
  backend/verification/error_codes.py
  backend/verification/noise_sampler.py
  backend/verification/noisy_lean_wrapper.py
  backend/verification/tier_router.py
  backend/verification/u2_integration.py
  backend/verification/u2_runner_stub.py
  config/verifier_noise_phase2.yaml
  rfl/prng.py
  tests/verification/__init__.py
  tests/verification/run_tests_standalone.py
  tests/verification/test_noise_model.py
  tests/verification/test_u2_integration.py
Due: drift-sentinel

feat: U2 Planner - Search Runtime & Derivation Engine
  U2_PLANNER_IMPLEMENTATION_SUMMARY.md
  docs/u2_planner_guide.md
  examples/u2_demo.py
  experiments/u2/__init__.py
  experiments/u2/frontier.py
  experiments/u2/logging.py
  experiments/u2/policy.py
  experiments/u2/runner.py
  experiments/u2/schema.py
  experiments/u2/snapshots.py
  experiments/u2/telemetry.py
  rfl/prng/__init__.py
  rfl/prng/deterministic_prng.py
  tests/run_u2_tests.py
  tests/test_u2_determinism.py
  tests/test_u2_replay.py
Due: ascii-check, drift-sentinel

Add schema versioning and determinism enforcement patches
  determinism_analysis_report.txt
  migrations/add_schema_version_tracking.sql
  migrations/migrate_schema_versions.py
  normalization/schema_version.py
  patches/001_fix_timestamp_nondeterminism.patch
  patches/002_fix_json_serialization.patch
  patches/003_enforce_hash_canonicalization.patch
Due: drift-sentinel

feat(rfl): Implement RFL Engine & Policy Infrastructure
  docs/rfl_engine_implementation.md
  rfl/RFL_ENGINE_SUMMARY.md
  rfl/event_verification.py
  rfl/policy_serialization.py
  rfl/step_size_schedules.py
  rfl/update_algebra.py
  tests/rfl/test_rfl_engine.py
Due: ascii-check, drift-sentinel

feat(ledger): Add replay verification and epoch root systems
  backend/ledger/epoch/__init__.py
  backend/ledger/epoch/sealer.py
  backend/ledger/epoch/verifier.py
  backend/ledger/replay/__init__.py
  backend/ledger/replay/checker.py
  backend/ledger/replay/engine.py
  backend/ledger/replay/recompute.py
  docs/architecture/epoch_root_system.md
  docs/architecture/replay_verification.md
  tests/unit/test_epoch_system.py
  tests/unit/test_replay_verification.py
Due: ascii-check, drift-sentinel

feat: Implement post-quantum migration architecture
  PQ_MIGRATION_SUMMARY.md
  basis/crypto/hash_registry.py
  basis/crypto/hash_versioned.py
  basis/ledger/block_pq.py
  basis/ledger/verification.py
  docs/architecture/PQ_MIGRATION_README.md
  docs/architecture/pq_hash_versioning_design.md
  docs/architecture/pq_migration_guide.md
  pq_migration_implementation.tar.gz
  tests/unit/test_pq_migration.py
Due: ascii-check, drift-sentinel

Add Curriculum Runtime & Slice Execution Analysis
  docs/CURRICULUM_RUNTIME_ANALYSIS.md
Due: ascii-check

feat: Add PQ activation whitepaper addendum and specifications
  docs/architecture/pq_activation_governance.md
  docs/architecture/pq_consensus_rules.md
  docs/architecture/pq_drift_radar.md
  docs/architecture/pq_performance_benchmarks.md
  docs/whitepaper/pq_activation_addendum.md
Due: ascii-check

feat(governance): MANUS-G CI/Governance Infrastructure Stabilization
  MANUS_G_IMPLEMENTATION_SUMMARY.md
  docs/governance/ci_governance_stabilization_plan.md
  docs/governance/ci_normalization_blueprint.md
  docs/governance/drift_radar_architecture.md
  docs/governance/output_standardization.md
  schemas/attestation_snapshot.schema.json
  schemas/curriculum_snapshot.schema.json
  schemas/ledger_snapshot.schema.json
  schemas/telemetry_schema_snapshot.schema.json
  scripts/evidence_pack.py
  scripts/radars/curriculum_drift_radar.py
  scripts/radars/ht_triangle_drift_radar.py
  scripts/radars/ledger_drift_radar.py
  scripts/radars/telemetry_drift_radar.py
  scripts/validation/governance_validator.py
Due: ascii-check, drift-sentinel

feat(phase3): Complete Phase III empirical calibration & RFL fusion design
  backend/verification/phase3/ADVANCED_NOISE_REGIMES.md
  backend/verification/phase3/CALIBRATION_PIPELINE.md
  backend/verification/phase3/NOISE_DRIFT_RADAR.md
  backend/verification/phase3/NOISE_REPLAY_LOGS.md
  backend/verification/phase3/PHASE3_MASTER_PLAN.md
  backend/verification/phase3/RFL_INTEGRATION_MATHEMATICS.md
Due: none

docs: U2 Planner Phase IV Architecture - Distributed, RFL-Integrated, Research-Grade
  docs/u2_planner_architecture_phase_iv.md
Due: ascii-check

feat(ledger): Phase II - Replay Governance Engine & Epochization
  docs/MANUS_B_PHASE_II_BLUEPRINT.md
  docs/architecture/cross_epoch_pq_verification.md
  docs/architecture/ledger_drift_radar.md
  docs/architecture/monotonic_ledger_governance.md
  migrations/018_epoch_root_system.sql
  scripts/backfill_epochs.py
  scripts/replay_verify.py
Due: ascii-check, drift-sentinel

fix: Replace datetime.now/utcnow with deterministic_isoformat
  bootstrap_metabolism.py
  patches/001_fix_timestamp_nondeterminism_v2.patch
  phase_ix_attestation.py
  rfl/policy_serialization.py
  rfl_gate.py
Due: drift-sentinel

feat(curriculum): Add comprehensive drift governance implementation blueprint
  docs/curriculum_drift_implementation_plan.md
Due: ascii-check

docs: Add patch convergence ledger
  patch_ledger.json
Due: none

feat(governance): MANUS-G Phase II - Governance Infrastructure Build-Out
  MANUS_G_PHASE_II_IMPLEMENTATION_SUMMARY.md
  docs/governance/ci_pipeline_implementation_plan.md
  docs/governance/powershell_drift_test_plan.md
  docs/governance/rfc8785_upgrade_plan.md
  docs/governance/schema_registry_plan.md
  docs/governance/snapshot_generators_plan.md
  scripts/generators/generate_attestation_snapshot.py
  scripts/generators/generate_curriculum_snapshot.py
  scripts/generators/generate_ledger_snapshot.py
  scripts/generators/generate_telemetry_snapshot.py
  scripts/lib/__init__.py
  scripts/lib/canonicalization.py
Due: ascii-check, drift-sentinel

feat: U2 Planner Phase IV Implementation Artifacts
  backend/u2/deterministic_replay_plan.md
  backend/u2/distributed_frontier_manager_plan.md
  backend/u2/fosubstrate_executor_skeleton.py
  backend/u2/provenance_bundle_engine_design.md
  backend/u2/rfl_feedback_subsystem_plan.md
Due: drift-sentinel

feat: Implement PQ activation engineering deliverables
  backend/benchmarks/component_benchmarks.py
  backend/benchmarks/micro_benchmarks.py
  backend/consensus_pq/__init__.py
  backend/consensus_pq/epoch.py
  backend/consensus_pq/prev_hash.py
  backend/consensus_pq/reorg.py
  backend/consensus_pq/rules.py
  backend/consensus_pq/validation.py
  backend/consensus_pq/violations.py
  docs/implementation/pq_activation_master_plan.md
  docs/implementation/pq_consensus_runtime_plan.md
Due: ascii-check, drift-sentinel

feat(phase3): Add complete implementation plans for telemetry runtime, calibration, noise model, RFL integration, and drift radar
  backend/verification/phase3/impl/calibration_runner_plan.md
  backend/verification/phase3/impl/drift_radar_code_map.md
  backend/verification/phase3/impl/rfl_noise_integration_plan.md
  backend/verification/phase3/impl/telemetry_runtime_plan.md
  backend/verification/phase3/impl/unified_noise_model.py
Due: drift-sentinel

feat(consensus): Phase III - Consensus Runtime & Drift Radar Activation
  backend/consensus/pq_migration.py
  backend/consensus/reorg.py
  backend/consensus/rules.py
  backend/consensus/validators.py
  backend/consensus/violations.py
  backend/ledger/drift/__init__.py
  backend/ledger/drift/classifier.py
  backend/ledger/drift/dashboard.py
  backend/ledger/drift/forensics.py
  backend/ledger/drift/scanner.py
  docs/architecture/epoch_replay_unification_plan.md
  docs/architecture/pq_activation_harness.md
  docs/ci/governance-chain.yml
Due: ascii-check, drift-sentinel

feat: Add Determinism Ledger Engine and Canon Law
  CANON_LAW.md
  tools/determinism_ledger.py
Due: drift-sentinel

feat(curriculum): Implement Phase III - Complete drift governance system
  backend/frontier/curriculum.py
  backend/tools/curriculum_differ.py
  tests/frontier/test_curriculum_fingerprinting.py
Due: drift-sentinel

feat(governance): Phase IV - Consensus Integration & Enforcement
  backend/ledger/drift/governance.py
  docs/ci/implementation_guide.md
  docs/integration/consensus_replay_integration.md
  docs/integration/drift_governance_adaptor.md
  docs/operations/pq_cutover_playbook.md
  scripts/ci/run_governance_chain.sh
Due: ascii-check, drift-sentinel

Path conditions:
  ascii-check: any of: ^(docs/|scripts/).*$
  drift-sentinel: any of: \.py$
