Repository helpfuldolphin/mathledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: ascii-check, drift-sentinel

.pre-commit-config.yaml:

# MathLedger Pre-Commit Configuration
#
# Enforces code hygiene and formatting standards:
# - Code formatters: black, isort (run on all Python files)
# - ASCII hygiene: only on docs/ and scripts/ changes
# - Whitespace: trailing-whitespace, end-of-file-fixer

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=2048']

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: local
    hooks:
      - id: ascii-check
        name: ASCII-only validation (docs/scripts only)
        entry: python tools/check_ascii.py
        language: system
        files: ^(docs/|scripts/).*$
        pass_filenames: false
      
      - id: drift-sentinel
        name: Drift Sentinel - Detect nondeterministic operations
        entry: python tools/repro/drift_sentinel.py --staged
        language: system
        types: [python]
        pass_filenames: false
        args: ['--whitelist', 'artifacts/repro/drift_whitelist.json']

docs: add FOL_FIN_EQ_v1 demo to README
  README.md
Due: none

feat(demo): UVIL v0 governance demo - scope locked
  backend/api/uvil.py
  demo/app.py
  docs/DEMO_REGRESSION_HARNESS.md
  docs/HOW_THE_DEMO_EXPLAINS_ITSELF.md
  docs/HOW_TO_APPROACH_THIS_DEMO.md
  docs/UVIL_V0_EXECUTION_PACKET.md
  docs/V0_LOCK.md
  fixtures/adv_only/input.json
  fixtures/adv_only/output.json
  fixtures/mixed_mv_adv/input.json
  fixtures/mixed_mv_adv/output.json
  fixtures/mv_only/input.json
  fixtures/mv_only/output.json
  fixtures/pa_only/input.json
  fixtures/pa_only/output.json
  fixtures/underdetermined_navier_stokes/input.json
  fixtures/underdetermined_navier_stokes/output.json
  governance/trust_class.py
  governance/uvil.py
  tools/run_demo_cases.py
Due: ascii-check, drift-sentinel

docs(v0): update V0_LOCK.md with final commit hash
  docs/V0_LOCK.md
Due: ascii-check

docs(demo): add hostile demo rehearsal kit
  docs/HOSTILE_DEMO_REHEARSAL.md
Due: ascii-check

feat(demo): add MV arithmetic validator - VERIFIED now possible
  backend/api/uvil.py
  docs/HOSTILE_DEMO_REHEARSAL.md
  fixtures/adv_only/input.json
  fixtures/mixed_mv_adv/input.json
  fixtures/mixed_mv_adv/output.json
  fixtures/mv_arithmetic_refuted/input.json
  fixtures/mv_arithmetic_refuted/output.json
  fixtures/mv_arithmetic_verified/input.json
  fixtures/mv_arithmetic_verified/output.json
  fixtures/mv_only/input.json
  fixtures/pa_only/input.json
  fixtures/pa_only/output.json
  fixtures/same_claim_as_adv/input.json
  fixtures/same_claim_as_adv/output.json
  fixtures/same_claim_as_pa/input.json
  fixtures/same_claim_as_pa/output.json
  fixtures/underdetermined_navier_stokes/input.json
  fixtures/underdetermined_navier_stokes/output.json
  governance/mv_validator.py
  tools/run_demo_cases.py
Due: ascii-check, drift-sentinel

feat(demo): add boundary demo - Same Claim, Different Authority
  demo/app.py
Due: drift-sentinel

fix(demo): boundary demo step 4 shows REFUTED not unparseable
  demo/app.py
Due: drift-sentinel

feat(demo): v0.2.0 UI self-explanation + abstention preservation integration
  demo/app.py
  docs/ABSTENTION_PRESERVATION_ENFORCEMENT.md
  docs/DEMO_SELF_EXPLANATION_UI_PLAN.md
  docs/HOW_THE_DEMO_EXPLAINS_ITSELF.md
  docs/V0_LOCK.md
  docs/invariants_status.md
  governance/abstention_preservation.py
  governance/uvil.py
  tests/governance/test_abstention_preservation.py
  tests/governance/test_ui_copy_drift.py
  tools/run_demo_cases.py
Due: ascii-check, drift-sentinel

docs(v0): add commit hash and tier counts to v0.2.0 release notes
  docs/V0_LOCK.md
Due: ascii-check

docs(v0): update V0_LOCK.md with tagged commit hash
  docs/V0_LOCK.md
Due: ascii-check

feat(releases): add canonical release metadata artifact
  docs/RELEASE_METADATA_CONTRACT.md
  releases/releases.json
  tests/governance/test_release_metadata.py
Due: ascii-check, drift-sentinel

feat(governance): add release metadata guard + evidence pack verifier spec
  docs/EVIDENCE_PACK_VERIFIER_SPEC.md
  docs/RELEASE_METADATA_DIAGNOSTIC.md
  tests/governance/test_evidence_pack_replay_vectors.py
  tests/governance/test_release_metadata_guard.py
Due: ascii-check, drift-sentinel

feat(verifier): add canonical test vector artifact for v0.2.0
  docs/EVIDENCE_PACK_VERIFIER_SPEC.md
  releases/evidence_pack_verifier_vectors.v0.2.0.json
  scripts/generate_verifier_vectors.py
  tests/governance/test_verifier_vectors_artifact.py
Due: ascii-check, drift-sentinel

feat(demo): add version-pinned hosting with BASE_PATH support
  Dockerfile
  demo/app.py
  docker-compose.yml
  docs/DEMO_HOSTING_V0.2.0.md
  fly.toml
  tests/demo/__init__.py
  tests/demo/test_demo_hosting.py
Due: ascii-check, drift-sentinel

feat(demo): add Cache-Control headers and PowerShell deployment docs
  demo/app.py
  docs/DEMO_HOSTING_V0.2.0.md
  tests/demo/test_demo_hosting.py
Due: ascii-check, drift-sentinel

docs(demo): reconcile ROOT MOUNT architecture and correct DEMO_ORIGIN
  docs/DEMO_HOSTING_V0.2.0.md
  tests/demo/test_demo_hosting.py
Due: ascii-check, drift-sentinel

fix(demo): dynamic API_BASE for Cloudflare Worker routing
  demo/app.py
  docs/DEMO_HOSTING_V0.2.0.md
  tests/demo/test_demo_hosting.py
Due: ascii-check, drift-sentinel

docs: add Hosted Demo GO Checklist
  docs/HOSTED_DEMO_GO_CHECKLIST.md
Due: ascii-check

feat(demo): hosted demo infrastructure + self-auditing
  demo/app.py
  releases/releases.json
  scripts/build_static_site.py
  tools/check_hosted_demo_matches_release.py
Due: ascii-check, drift-sentinel

feat(demo): v0.2.1 cohesion release - rejection visibility + terminology fixes
  Dockerfile
  backend/api/uvil.py
  cloudflare-worker/demo-proxy.js
  demo/app.py
  docs/FOR_AUDITORS.md
  docs/V0_LOCK.md
  releases/releases.json
  scripts/build_static_site.py
  tests/demo/test_demo_hosting.py
Due: ascii-check, drift-sentinel

feat(demo): add release pin validation to prevent stale deploys
  Dockerfile
  cloudflare-worker/demo-proxy.js
  demo/app.py
  tests/demo/test_demo_hosting.py
Due: drift-sentinel

feat(audit): anti-drift gate + ready-to-verify evidence pack examples
  docs/FOR_AUDITORS.md
  docs/HOSTED_DEMO_GO_CHECKLIST.md
  releases/evidence_pack_examples.v0.2.1.json
  scripts/generate_evidence_pack_examples.py
  tests/governance/test_evidence_pack_examples.py
  tools/check_hosted_demo_matches_release.py
Due: ascii-check, drift-sentinel

docs(audit): formal v0.2.1 external audit closure
  docs/RELEASE_CLOSURE_V0.2.1.md
  docs/V0_LOCK.md
  releases/releases.json
  tests/governance/test_release_metadata_guard.py
Due: ascii-check, drift-sentinel

docs(audit): acknowledge hostile link integrity audit findings
  docs/external_audits/manus_link_integrity_audit_2026-01-03_response.md
Due: ascii-check

docs(audit): v0.2.2 scope - audit UX integrity release
  docs/RELEASE_CLOSURE_V0.2.1.md
  docs/V0.2.2_SCOPE.md
Due: ascii-check

fix(demo): read version from releases.json at startup (fixes hostile_audit failure)
  Dockerfile
  demo/app.py
  docs/HOSTED_DEMO_GO_CHECKLIST.md
Due: ascii-check, drift-sentinel

fix(demo): dynamic archive links + LIVE badge (v0.2.2 release prep)
  demo/app.py
  docs/FOR_AUDITORS.md
  docs/HOSTILE_DEMO_REHEARSAL.md
  fly.toml
  pyproject.toml
  releases/releases.json
  scripts/build_static_site.py
Due: ascii-check, drift-sentinel

release: v0.2.2 link integrity + hostile audit semantics
  docs/HOSTED_DEMO_GO_CHECKLIST.md
  releases/evidence_pack_examples.v0.2.2.json
  tools/hostile_audit.ps1
Due: ascii-check

feat(audit): v0.2.3 evidence pack examples + verifier vectors + freshness tests
  releases/evidence_pack_examples.v0.2.3.json
  releases/evidence_pack_verifier_vectors.v0.2.3.json
  tests/governance/test_v023_artifact_freshness.py
Due: drift-sentinel

feat(docs): add Field Manual + deploy-by-tag doctrine + predeploy gate
  docs/DEPLOY_BY_TAG_DOCTRINE.md
  docs/field_manual/README.md
  docs/field_manual/fm.pdf
  docs/field_manual/fm.tex
  docs/field_manual/references.bib
  tools/predeploy_gate.py
Due: ascii-check, drift-sentinel

feat(site): v0.2.3 audit-path-freshness + Field Manual
  docs/FOR_AUDITORS.md
  docs/papers/field_manual/README.md
  docs/papers/field_manual/fm.pdf
  docs/papers/field_manual/fm.tex
  releases/releases.json
  scripts/build_static_site.py
Due: ascii-check, drift-sentinel

fix(docs): eliminate VERIFIED/machine-checkable terminology drift
  docs/HOW_THE_DEMO_EXPLAINS_ITSELF.md
  docs/V0_SYSTEM_BOUNDARY_MEMO.md
  tests/governance/test_terminology_guard.py
Due: ascii-check, drift-sentinel

fix(docs): ensure VERIFIED/REFUTED terminology consistency for v0.2.3
  docs/HOW_THE_DEMO_EXPLAINS_ITSELF.md
  governance/trust_class.py
  tests/governance/test_terminology_guard.py
Due: ascii-check, drift-sentinel

fix(verifier): fix invalid Unicode escape sequence in v0.2.3 verifier
  site/v0.2.3/evidence-pack/verify/index.html
  tests/site/__init__.py
  tests/site/test_verifier_js_integrity.py
Due: drift-sentinel

docs(audit): fix external audit findings for v0.2.3
  docs/V0_LOCK.md
  docs/invariants_status.md
  tests/governance/test_scope_lock_doc_integrity.py
Due: ascii-check, drift-sentinel

feat(site): v0.2.4 verifier syntax fix + combined gate assertion
  releases/releases.json
  scripts/build_static_site.py
Due: ascii-check, drift-sentinel

docs(audit): add glossary note + regression guard for forbidden false claims
  docs/V0_LOCK.md
  tests/governance/test_scope_lock_doc_integrity.py
Due: ascii-check, drift-sentinel

fix(verifier): implement Merkle tree with domain separation in JS verifier
  releases/evidence_pack_examples.v0.2.4.json
  site/v0.2.3/evidence-pack/verify/index.html
  tests/governance/test_evidence_pack_python_replay.py
  tests/site/test_verifier_js_integrity.py
Due: drift-sentinel

test(verifier): add golden alignment tests for JS/Python parity
  tests/governance/test_verifier_golden_alignment.py
Due: drift-sentinel
