Repository helpfuldolphin/mathledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: ascii-check, drift-sentinel

ascii-check:
  name: ASCII-only validation (docs/scripts only)
  entry: python tools/check_ascii.py
  language: system
  pass_filenames: false

drift-sentinel:
  name: Drift Sentinel - Detect nondeterministic operations
  entry: python tools/repro/drift_sentinel.py --staged
  language: system
  pass_filenames: false
  args:
  - --whitelist
  - artifacts/repro/drift_whitelist.json

feat: U2 Planner Phase V - Complete MVP Implementation
  backend/u2/deterministic_replay_harness.py
  backend/u2/distributed_frontier_mvp.py
  backend/u2/fosubstrate_executor.py
  backend/u2/provenance_bundle_mvp.py
  backend/u2/rfl_feedback_mvp.py
  tests/test_u2_phase_v_integration.py
Due: drift-sentinel

feat(phase4): Implement all Phase III/IV components - telemetry, calibration, noise models, RFL integration, drift radar
  backend/verification/calibration/__init__.py
  backend/verification/calibration/calibrate_noise.py
  backend/verification/calibration/statistical_fitting.py
  backend/verification/drift_radar/__init__.py
  backend/verification/drift_radar/detectors/__init__.py
  backend/verification/drift_radar/detectors/base.py
  backend/verification/drift_radar/detectors/cusum_detector.py
  backend/verification/drift_radar/detectors/scan_statistics_detector.py
  backend/verification/drift_radar/detectors/tier_skew_detector.py
  backend/verification/drift_radar/radar.py
  backend/verification/noise_models/__init__.py
  backend/verification/noise_models/noise_sampler.py
  backend/verification/noise_models/unified_model.py
  backend/verification/noise_models/unified_model_mvp.py
  backend/verification/patches/INTEGRATION_GUIDE.md
  backend/verification/patches/policy_noise_integration.patch
  backend/verification/patches/u2_runner_noise_integration.patch
  backend/verification/rfl_integration.py
  backend/verification/telemetry/__init__.py
  backend/verification/telemetry/runtime.py
  backend/verification/telemetry/schema.py
  backend/verification/telemetry/tactic_parser.py
  tests/verification/phase4/test_drift_radar.py
  tests/verification/phase4/test_telemetry_runtime.py
  tests/verification/phase4/test_unified_noise_model.py
Due: drift-sentinel

feat: Complete Phase IV PQ activation integration
  backend/benchmarks/integration_benchmarks.py
  backend/benchmarks/network_benchmarks.py
  backend/benchmarks/orchestrate_benchmarks.py
  backend/benchmarks/orchestration.yaml
  backend/drift_radar/__init__.py
  backend/drift_radar/algorithm_detector.py
  backend/drift_radar/commitment_detector.py
  backend/governance_pq/__init__.py
  backend/governance_pq/engine.py
  docs/integration/pq_consensus_integration_diffs.md
Due: ascii-check, drift-sentinel

docs: Add Phase IV completion summary
  PHASE_IV_SUMMARY.md
Due: none

feat(governance): Implement Replay Safety Governance Signal
  backend/governance/replay_safety_signal.py
  tests/unit/run_replay_safety_signal_tests.py
  tests/unit/test_replay_safety_signal.py
Due: drift-sentinel

docs(curriculum): Add governance-level drift specifications
  docs/curriculum_diff_review_guide.md
  docs/curriculum_drift_signals.md
  docs/curriculum_stability_appendix.md
Due: ascii-check

docs: U2 Bridge Layer Specifications
  docs/lean_swap_plan.md
  docs/provenance_bundle_v2_spec.md
  docs/u2_p3_integration_contract.md
Due: ascii-check

docs: Add public-facing PQ migration documents
  docs/public/operator_runbook_pq_activation.md
  docs/public/pq_migration_safety_case.md
  docs/public/pq_migration_test_plan.md
Due: ascii-check

feat(ops): Operationalization artifacts - Readiness Gate, Safety Case, Implementation Order
  docs/implementation/implementation_order.md
  docs/integration/readiness_gate_checklist.md
  docs/safety/pq_migration_safety_case.md
Due: ascii-check

docs(p3): Add P3 first-light and calibration readiness specifications
  backend/verification/specs/CALIBRATION_EXPERIMENT_PLAN.md
  backend/verification/specs/LEAN_INTEGRATION_SPEC.md
  backend/verification/specs/TELEMETRY_TO_EVIDENCE_INTERFACE.md
Due: none

feat: Add PQ Operator Execution Kit
  artifacts/pq_validator_safety_checklist.json
  docs/public/operator_command_mapping.md
  scripts/pq_activation_dryrun.py
  scripts/pq_activation_simulator.py
Due: ascii-check, drift-sentinel

feat: U2 Bridge Layer - REAL-READY Implementation
  SMOKE_TEST_CHECKLIST.md
  backend/u2/lean_executor.py
  backend/u2/p3_metric_extractor.py
  backend/u2/provenance_bundle_v2.py
  tests/test_u2_bridge_layer.py
Due: drift-sentinel

docs(phase3): Add REAL-READY implementation blueprints for telemetry and calibration
  backend/verification/CALIBRATION_RUNNER_INTEGRATION.md
  backend/verification/CALIBRATION_SMOKE_TEST_PLAN.md
  backend/verification/LEAN_EXECUTOR_INTEGRATION.md
  backend/verification/TELEMETRY_RUNTIME_INTEGRATION.md
Due: none

feat(engineering): REAL-READY Engineering Integration Plan - Phase B
  docs/engineering/7_WEEK_EXECUTION_TRACKER.md
  docs/engineering/DELTA_PLAN_REAL_READY.md
  docs/engineering/EXECUTION_PATH_AND_PQ_MIGRATION.md
  docs/engineering/ROLLBACK_STRATEGY_V2.md
Due: ascii-check

docs: Add smoke-test readiness checklist for PQ Operator Execution Kit
  docs/public/SMOKE_TEST_CHECKLIST.md
Due: ascii-check

feat: Add operator rehearsal mode with failure scenarios
  docs/public/REHEARSAL_MODE_CHECKLIST.md
  scripts/pq_activation_dryrun.py
  tests/fixtures/pq_rehearsal_scenarios.json
  tests/unit/test_pq_rehearsal_mode.py
Due: ascii-check, drift-sentinel

feat(curriculum): Add drift enforcement wiring and test suite
  backend/frontier/curriculum_drift_enforcement.py
  rfl/curriculum_provenance.py
  tests/frontier/test_curriculum_drift_enforcement.py
Due: drift-sentinel

feat: U2 Bridge Layer Hardening - Stub/Real Separation
  SMOKE_TEST_CHECKLIST_HARDENED.md
  backend/u2/lean_executor_hardened.py
  docs/u2_runner_integration_hooks.md
  tests/test_u2_bridge_layer_hardened.py
Due: ascii-check, drift-sentinel

feat(prs): PR Sequence Pack - 3 PRs with REAL-READY diffs + failure injection
  docs/prs/FAILURE_INJECTION_HARNESS.md
  docs/prs/PR1_CONSENSUS_INTEGRATION.md
  docs/prs/PR2_DRIFT_RADAR_SCANNER.md
  docs/prs/PR3_PQ_MIGRATION_SCAFFOLDING.md
  docs/prs/PR_SEQUENCE_PACK.md
Due: ascii-check

feat(verification): Add telemetry runtime, calibration, and smoke test (REAL-READY)
  backend/lean_control_PATCH.diff
  backend/lean_mode_PATCH.diff
  backend/verification/calibration/calibrate_noise_PATCH.diff
  backend/verification/error_mapper.py
  backend/verification/lean_executor.py
  backend/verification/tactic_extractor.py
  backend/verification/telemetry_runtime.py
  experiments/u2/runner_PATCH.diff
  scripts/run_calibration_smoke.py
  tests/verification/test_telemetry_system.py
Due: ascii-check, drift-sentinel

feat(tda): Implement TDA shadow module, benchmark, and update contract
  backend/tda/__init__.py
  backend/tda/compute_tda_metrics.py
  docs/system_law/tda/TDA_IMPLEMENTATION_CONTRACT.md
  scripts/tda/bench_tda_cycle.py
  scripts/tda/test_bench_tda_cycle.py
Due: ascii-check, drift-sentinel

feat(ggfl): Add precedence invariant tests for risk signal
  tests/test_ggfl_fusion_integration.py
Due: drift-sentinel

docs(ggfl): Add canon note on identity vs risk precedence
  docs/governance/GGFL_PRECEDENCE_CANON.md
  docs/public_comms/COMMUNICATION_GUARDRAILS.md
Due: ascii-check

docs(tda): Mark benchmark as EXPERIMENTAL and clarify its purpose
  docs/system_law/tda/TDA_IMPLEMENTATION_CONTRACT.md
  scripts/tda/bench_tda_cycle.py
Due: ascii-check, drift-sentinel

feat(summarizer): Implement readiness summary with attestation and output contract freeze
  docs/system_law/Phase_X/Phase_X_P3_P4_Evidence_Checklist.md
  tools/summarize_evidence_checklist.py
  tools/test_summarize_evidence_checklist.py
Due: ascii-check, drift-sentinel

feat(summarizer): Add Contract Freeze banner to report
  tools/summarize_evidence_checklist.py
Due: drift-sentinel

docs(ggfl): Add executive summary to GGFL_PRECEDENCE_CANON.md
  docs/governance/GGFL_PRECEDENCE_CANON.md
Due: ascii-check

feat(summarizer): Add contract freeze fields to JSON report
  backend/tda/compute_tda_metrics.py
  scripts/tda/bench_tda_cycle.py
  scripts/tda/test_bench_tda_cycle.py
  tools/summarize_evidence_checklist.py
  tools/test_summarize_evidence_checklist.py
Due: ascii-check, drift-sentinel

feat(tda): Add machine-readable fields to benchmark output
  .claude/settings.local.json
  .github/workflows/ci-updated.yml
  .github/workflows/ci.yml
  API_README.md
  Makefile
  README.md
  attestation/dual_root.py
  backend/governance/__init__.py
  backend/logic/taut.py
  backend/orchestrator/__init__.py
  backend/rfl/bootstrap_stats.py
  backend/rfl/coverage.py
  backend/rfl/runner.py
  backend/verification/__init__.py
  curriculum/__init__.py
  derivation/__init__.py
  docs/public_comms/COMMUNICATION_GUARDRAILS.md
  docs/system_law/tda/TDA_IMPLEMENTATION_CONTRACT.md
  docs/whitepaper.md
  experiments/run_uplift_u2.py
  experiments/slice_success_metrics.py
  experiments/u2/__init__.py
  experiments/u2/runner.py
  experiments/u2/schema.py
  ledger/blocking.py
  pyproject.toml
  pytest.ini
  rfl/prng/__init__.py
  rfl/runner.py
  substrate/crypto/hashing.py
  tests/integration/conftest.py
  tests/test_dual_root_attestation.py
  uv.lock
  verify_dual_root.py
Due: ascii-check, drift-sentinel

docs(ggfl): Add one-sentence summary to precedence canon
  docs/governance/GGFL_PRECEDENCE_CANON.md
Due: ascii-check

docs(summarizer): Add golden output snapshot to docstring
  tools/summarize_evidence_checklist.py
Due: drift-sentinel

fix(status): restore generate_first_light_status.py (minimal contract)
  scripts/generate_first_light_status.py
Due: ascii-check, drift-sentinel

feat(uvi): add User Verified Input stub module and documentation
  README.md
  backend/uvi/__init__.py
  backend/uvi/attestation.py
  backend/uvi/events.py
  docs/CAPABILITY_LADDER_STATUS.md
  tests/uvi/__init__.py
  tests/uvi/test_uvi_events.py
Due: ascii-check, drift-sentinel

docs(architecture): add AI Proof Ingestion Adapter specification
  docs/architecture/AI_PROOF_INGESTION_ADAPTER.md
Due: ascii-check

docs(shadow_audit): add implementation freeze attestation
  scripts/IMPLEMENTATION_FREEZE.md
Due: ascii-check

feat(ingest): implement AI Proof Ingestion Adapter Phase 1
  backend/health/source_type_telemetry_adapter.py
  backend/ingest/__init__.py
  backend/ingest/pipeline.py
  curriculum/shadow_mode.py
  migrations/018_ai_proof_ingestion.sql
  tests/ingest/__init__.py
  tests/ingest/test_ai_proof_ingestion.py
Due: drift-sentinel

docs(audit): clarify audit scope (non-certifying)
  docs/system_law/TDA_PhaseX_Binding.md
  docs/system_law/calibration/AUDITOR_CHECKLIST.md
  docs/system_law/calibration/audits/CANONICAL_RECONCILIATION_SCRIPT_AUDIT_v1_1_0.md
  scripts/generate_first_light_status.py
Due: ascii-check, drift-sentinel

feat: Add TDA windowed patterns hook to status generator
  scripts/generate_first_light_status.py
Due: ascii-check, drift-sentinel

Path conditions:
  ascii-check: any of: ^(docs/|scripts/).*$
  drift-sentinel: any of: \.py$
