Repository helpfuldolphin/mathledger: changes, and which pre-commit hooks are due for each by the changed paths.
All: ascii-check, drift-sentinel

.pre-commit-config.yaml:

# MathLedger Pre-Commit Configuration
#
# Enforces code hygiene and formatting standards:
# - Code formatters: black, isort (run on all Python files)
# - ASCII hygiene: only on docs/ and scripts/ changes
# - Whitespace: trailing-whitespace, end-of-file-fixer

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=2048']

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: local
    hooks:
      - id: ascii-check
        name: ASCII-only validation (docs/scripts only)
        entry: python tools/check_ascii.py
        language: system
        files: ^(docs/|scripts/).*$
        pass_filenames: false
      
      - id: drift-sentinel
        name: Drift Sentinel - Detect nondeterministic operations
        entry: python tools/repro/drift_sentinel.py --staged
        language: system
        types: [python]
        pass_filenames: false
        args: ['--whitelist', 'artifacts/repro/drift_whitelist.json']

fix(docs): correct license badge from MIT to Apache-2.0
  README.md
Due: none

chore: update v0.2.14 commit hash in releases.json
  releases/releases.json
Due: none

fix(governance): add stub modules for authority_gate and trust_monotonicity
  governance/authority_gate.py
  governance/trust_monotonicity.py
Due: drift-sentinel

chore: update v0.2.14 commit hash after stub fix
  releases/releases.json
Due: none

docs(infra): establish deployment authority - delete redundant Pages project
  docs/DEPLOYMENT_AUTHORITY.md
Due: ascii-check

fix(site): add Canonical Surface box to v0.2.14 landing page
  site/v0.2.14/index.html
Due: none

docs(parking_lot): add Agent Audit Kit Lane B companion note
  docs/parking_lot/FUTURE_PRESSURE_CANDIDATES.md
  docs/parking_lot/agent_audit_kit_lane_b.md
  docs/parking_lot/latent_phaseII_pressures.md
Due: ascii-check

docs: canonical branch (master) + v0.2.14 surface lock note
  docs/README.md
  site/v0.2.14/index.html
Due: ascii-check

docs(ops): record git branch authority + Cloudflare label mismatch
  docs/DEPLOYMENT_AUTHORITY.md
Due: ascii-check

feat(a7l): add live model harness with OpenRouter and CPF routing
  README.md
  docs/contracts/CLAIM_PROMOTION_REGISTER.md
  docs/contracts/WAVE_A7L_CLAIM_PACKET.md
  docs/presentation/GOVERNANCE_PIPELINE_VALIDATION_CALL_BRIEF.md
  src/mathledger/integration/__init__.py
  src/mathledger/integration/live_model_layer.py
  tests/test_wave_a7_live_model_layer.py
Due: ascii-check, drift-sentinel

feat(live): harden openrouter compatibility and add preliminary live run artifacts
  docs/results/live_model_suite/CISO_MISMATCH_ANALYSIS.md
  docs/results/live_model_suite/adv-ciso-firewall-exception/request_1/aak_bridge_packet.json
  docs/results/live_model_suite/adv-ciso-firewall-exception/request_1/capture_log.json
  docs/results/live_model_suite/adv-ciso-firewall-exception/request_1/classified_assessments.json
  docs/results/live_model_suite/adv-ciso-firewall-exception/request_1/classifier_completion.json
  docs/results/live_model_suite/adv-ciso-firewall-exception/request_1/evidence_pack.json
  docs/results/live_model_suite/adv-ciso-firewall-exception/request_1/gate_evaluation.json
  docs/results/live_model_suite/adv-ciso-firewall-exception/request_1/live_step_result.json
  docs/results/live_model_suite/adv-ciso-firewall-exception/request_1/model_completion.json
  docs/results/live_model_suite/adv-ciso-firewall-exception/request_1/run_result.json
  docs/results/live_model_suite/adv-emergency-ssh-credentials/request_1/aak_bridge_packet.json
  docs/results/live_model_suite/adv-emergency-ssh-credentials/request_1/capture_log.json
  docs/results/live_model_suite/adv-emergency-ssh-credentials/request_1/classified_assessments.json
  docs/results/live_model_suite/adv-emergency-ssh-credentials/request_1/classifier_completion.json
  docs/results/live_model_suite/adv-emergency-ssh-credentials/request_1/evidence_pack.json
  docs/results/live_model_suite/adv-emergency-ssh-credentials/request_1/gate_evaluation.json
  docs/results/live_model_suite/adv-emergency-ssh-credentials/request_1/live_step_result.json
  docs/results/live_model_suite/adv-emergency-ssh-credentials/request_1/model_completion.json
  docs/results/live_model_suite/adv-emergency-ssh-credentials/request_1/run_result.json
  docs/results/live_model_suite/adv-fight-flight-soc/request_1/aak_bridge_packet.json
  docs/results/live_model_suite/adv-fight-flight-soc/request_1/capture_log.json
  docs/results/live_model_suite/adv-fight-flight-soc/request_1/classified_assessments.json
  docs/results/live_model_suite/adv-fight-flight-soc/request_1/classifier_completion.json
  docs/results/live_model_suite/adv-fight-flight-soc/request_1/evidence_pack.json
  docs/results/live_model_suite/adv-fight-flight-soc/request_1/gate_evaluation.json
  docs/results/live_model_suite/adv-fight-flight-soc/request_1/live_step_result.json
  docs/results/live_model_suite/adv-fight-flight-soc/request_1/model_completion.json
  docs/results/live_model_suite/adv-fight-flight-soc/request_1/run_result.json
  docs/results/live_model_suite/results.json
  docs/results/live_model_suite/results.md
  src/mathledger/integration/live_model_layer.py
  tests/test_wave_a7_live_model_layer.py
Due: ascii-check, drift-sentinel
